body{
	user-select:none;
	-webkit-user-select:none;
	-ms-user-select: none;
	-moz-user-select:none;
	-khtml-user-select:none;
	-webkit-user-drag:none;
	-khtml-user-drag:none;
}
.scene{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:3;
	background-size:cover;
	display:none;
	overflow:hidden;
}
#alartScene > *{
	pointer-events: auto;
}
.threeWarld{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:-1;
}
